html,
body,
#root,
.App {
    height: 100%;
}
.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 40rem; */
}
.container .row {
    width: 100%;
}

.accordion {
    width: 50%;
}

.input-row {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-left: 20em;
}

.accordion-container {
    margin: auto;
    margin-left: 20em;
}

form {
    width: 50%;
}

.accordion p {
    display: flex;
    margin: 1em;
    justify-content: left;
}
.accordion li {
    display: flex;
    justify-content: left;
}

.card .card-body {
    width: 300px;
}
