html,
body,
#root,
.App {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    height: 30rem;
}
.container .row {
    width: 100%;
}

.output-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em auto;
}

.accordion {
    width: 50%;
}
.accordion .accordion-item {
    width: 100%;
    background-color: wheat;
}

.input-row .col {
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 1em;
}

.output-row {
    max-height: 75%;
    overflow: auto;
}

.accordion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

form {
    width: 50%;
}

.accordion p {
    display: flex;
    margin: 1em;
    justify-content: left;
}
.accordion li {
    display: flex;
    justify-content: left;
}

.card .card-body {
    width: 300px;
}
